<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luas Segitiga</title>
</head>

<body>
    <form action="/luas_segitiga" method="post">
        <label for="alas">Masukkan Alas:</label><br>
        <input type="number" id="alas" name="alas"><br><br>
        <label for="tinggi">Masukkan Tinggi:</label><br>
        <input type="number" id="tinggi" name="tinggi"><br><br>
        <input type="submit" value="Hitung">
    </form>
    {% if hasil != '---' %}
    <p>Hasil: {{ hasil }}</p>
    {% endif %}
</body>

</html>